.home button{
    background-color: navy;
    color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: .3rem;
}

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}